.reportDetailCard {
  border-radius: 7px;
  /* border: 1px solid #cbcbcb; */
  width: 100%;
  height: 100%;
  box-shadow: 0 0.5px 4px rgba(42, 42, 42, 0.16),
    0 0.5px 4px rgba(42, 42, 42, 0.16);
  background-color: #ffffff;
  display: flex;
  position: relative;
  gap: 15%;
}
.reportContentCard {
  border-radius: 7px;
  /* border: 1px solid #cbcbcb; */
  box-shadow: 0 0.5px 4px rgba(42, 42, 42, 0.16),
    0 0.5px 4px rgba(42, 42, 42, 0.16);
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.reportDetailCardEle {
  display: flex;
  width: 100%;
}
.reportDetailCardLeft {
  color: #cbcbcb;
  width: 40%;
}

.reportDetailCardRight {
  color: #030303;
  width: 60%;
}

.cardBox {
  border-radius: 7px;
  /* border: 1px solid #cbcbcb; */
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0.5px 4px rgba(42, 42, 42, 0.16),
    0 0.5px 4px rgba(42, 42, 42, 0.16);
  display: flex;
  position: relative;
  margin-bottom: 5%;
}
