div h2 {
    font-size: 22px;
    padding: 3%;
    font-weight: 600;
}

#dropdown-basic-button {
    border: "none";
    background-color: "transparent";
    box-shadow: "none";
    padding: 0;
    margin-right: 10;
    color: #030303;
    border-style: none;
}

#dropdown-basic-button:focus {
    outline: none;
    box-shadow: none;
}

#dropdown-basic-button {
    background-color: transparent;
}

#dropdown-basic-button::after {
    display: none;
}