/* Header.jsx */
.custom-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-navbar .nav-link {
    display: flex;
    font-size: 100%;
    padding-right: 3%;
    font-weight: bold;
    color: #CBCBCB; /* 비활성화 상태 색상 */
}

.custom-navbar .nav-link.active {
    color: #030303 !important; /* 활성화된 링크 색상 */
}


/* Rank.jsx */
.rankCard {
    background: #FFFFFF;
    border-radius: 2px;
    display: inline-block;
    height: 330px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 7px;
}


.rankContainer {
    display: grid;
    padding: 10px;
}

.rankRow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 5px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.rankCell {
    padding: 10px;
    font-size: 13px;
    text-align: center;    
}

.rankRow > div:last-child {
    text-align: right;
}


/* Best3.jsx */
.best3 {
    display: flex;
    gap: 12px;
    justify-content: center;
}

/* Best.jsx */
.bestCard {
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    width: 92px;
    height: 92px;
    margin-bottom: 8px;
    border-radius: 7px;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.bestInfo {
    flex: 1;
    text-align: center;
}

.name {
    padding-top: 20px;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
}

.company {
    font-size: 11px;
    color: #9C5FFF;
}

.returnRate {
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    color: #F22E40;
    position: absolute;
    bottom: 5px;
    right: 5px;
}