@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSansKR-Medium";
  font-weight: 500;
  src: url("./fonts/NotoSansKR-Medium.ttf") format("truetype");
}

body {
  font-family: "NotoSansKR-Medium";
}
