@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  src: url("/fonts/NotoSansKR-Medium.ttf") format("truetype");
}

/* @font-face {
  font-family: "Orbit-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

/* 
@font-face {
  font-family: "SejonghospitalBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
} */

#root {
  font-family: "Noto Sans KR";
  background-color: #f7f7f7;
}

:root {
  font-family: "Noto Sans KR";
  background-color: #f7f7f7;
}
