@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  src: url("/fonts/NotoSansKR-Medium.ttf") format("truetype");
}

#root {
  font-family: "Noto Sans KR";
  background-color: #F7F7F7;
}

:root {
  font-family: "Noto Sans KR";
  background-color: #F7F7F7;
}
